" IdeaVim
silent! set idearefactormode=select  " select(default), keep, visual

" PhpStrom 內建移動選取: {{{
nmap <S-Up> v<Up>
nmap <S-Down> v<Down>
nmap <S-Left> v<Left>
nmap <S-Right> v<Right>
vmap <S-Up> <Up>
vmap <S-Down> <Down>
vmap <S-Left> <Left>
vmap <S-Right> <Right>
imap <S-Up> <Esc>v<Up>
imap <S-Down> <Esc>v<Down>
imap <S-Left> <Esc>v<Left>
imap <S-Right> <Esc>v<Right>

" }}}

" Easy Motion
let mapleader=' '
silent! set easymotion

" Reload Config .vimrc
source ~/.vimrc
nmap   <C-S-l>     :so ~/.ideavimrc<cr>:echo "~/.ideavimrc Loaded"<cr>
imap   <C-S-l>     <esc><C-S-l>a

" HighlightedYank
let g:highlightedyank_highlight_duration = 1000

" Copy the previous function, zo is :actoin ReformatCode
nmap qt    mb?}<CR>v?@test<CR>?/\*\*<CR>y`bP?func<CR>f lzozz
nmap qf    mb?}<CR>v?function<CR>^y`bP?func<cr>f lzozz


" ===================================================
" ======== 放一些 PHPStorm only 系列的快捷 ==========
" ===================================================

" q 比 z 好按
" 重整程式碼 Quick Organize
noremap  qo     :action ReformatCode<cr>
imap     qo     <C-o>qo

" 跑測試 Quick Run a Test / ReRun
nmap     qrr    :action ReformatCode<cr>:action Run<cr>zz
imap     qrr    <esc>qrr
nmap     qru    :action ReformatCode<cr>:action Rerun<cr>zz
imap     qru    <esc>qru

" 'Q'uick ReFactor 重構系列 {{{
nnoremap qrn    :action RenameElement<cr>
imap     qrn    <esc>qrr
nnoremap qri    :action Inline<cr>
imap     qri    <esc>qri
nnoremap qrv    :action IntroduceVariable<cr>
imap     qrv    <esc>qrv
vmap     qrv    <esc>qrv
nnoremap qrf    :action IntroduceField<cr>
imap     qrf    <esc>qrf
vmap     qrf    <esc>qrf
nnoremap qrp    :action IntroduceParameter<cr>
imap     qrp    <esc>qrp
vmap     qrp    <esc>qrp
nnoremap qrs    :action SurroundWithLiveTemplate<cr>
imap     qrs    <esc>qrs
vmap     qrs    <esc>qrs
vnoremap qrm    :action ExtractMethod<cr>

" }}}

" 移動系列 還不想熟的先用 Vim 原生的處理，但先記下來想加的
" p.s. 還是有差，用 zn 跳的要 zk 才回得去
nnoremap zk     :action Back<cr>
imap     zk     <esc>zk
nnoremap zj     :action Forward<cr>
imap     zj     <esc>zj
nnoremap zd     :action GoToDeclaration<cr>
imap     zd     <esc>zd
nnoremap zn     :action GotoNextError<cr>:action ShowIntentionActions<cr>
imap     zn     <esc>zn
nnoremap zp     :action GotoPreviousError<cr>:action ShowIntentionActions<cr>
imap     zp     <esc>zp

"Auto Word Completion
imap     z.     <C-o>:action HippieCompletion<cr>

"PHP Speicific
imap     <C-.>  ->

" 自動折疊, 用 :set foldmarker 看 marker 是什麼
" vim:foldmethod=marker:foldlevel=0
"
